<div class="project-error-stats">
    <div class="project-stat-compact">
        <span class="stat-number">{{ row.totalErrors }}</span>
        <small>erreurs</small>
    </div>
    <div class="project-stat-compact">
        <span class="stat-number">{{ row.totalOccurrences|number_format }}</span>
        <small>occur.</small>
    </div>
</div>