<div class="project-info">
    <div class="project-name">
        <a href="{{ path('projects_show', { slug: row.slug }) }}" class="project-link">
            {{ row.name }}
        </a>
    </div>
    <div class="project-meta">
        <span class="project-slug">{{ row.slug }}</span>
        {% if row.description %}
            <span class="project-description">{{ row.description|slice(0, 50) ~ (row.description|length > 50 ? '...' : '') }}</span>
        {% endif %}
    </div>
</div>
