{# templates/dashboard/datatable/occurrence_info.html.twig #}
<div class="table-cell-title">{{ row.occurrenceCount }}</div>
<div class="table-cell-meta">
    Depuis {{ row.firstSeen|date('d/m/Y') }}
</div>