* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  color: #1e293b;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, .logo-text {
  font-family: $font-heading;
}

body, p, a, span, .btn {
  font-family: $font-body;
}
